.heroTitle {
    font-family: var(--font-family-secondary);
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E3430;
}
.heroSubTitle {
    font-style: normal;
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2E3430;
}
.heroImage {
    border-radius: 20px;
    max-height: 500px;
    border-radius: 50%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);   
}
.github:hover {
    background-color: var(--background);
    color: var(--secondary);
}
@media only screen and (max-width: 1280px){
    .heroTitle {
        font-size: 52px;
    }
    .heroSubTitle {
        font-size: 20px;
    }
    .heroImage {
        max-width: 400px
    }
}
@media only screen and (max-width: 520px){
    .heroTitle {
        font-size: 42px;
    }
    .heroSubTitle {
        font-size: 16px;
    }
}


