@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6F6F7;
  --primary: #A6B7AA;     
  --secondary: #68756D;
  --light: #A6B7AA;
  --dark: #2E3430;
  --border: 2px solid #68756D;
  --font-family-primary: "Nunito", serif;
  --font-family-secondary:  "Playfair Display", serif;;
}

body {
  font-family: 'Nunito', sans-serif;
  color: var(--foreground);
  background: var(--background);
  margin: 0;
}
button {
  background-color: var(--secondary);
  color: var(--secondary);
  border: var(--border);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
}
li:hover {
  color: var(--secondary);
  transform: scale(1.1);
}
h2 {
    font-family: var(--font-family-secondary);
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--dark);
}
h3 {
  font-family: var(--font-family-secondary);
  font-style: normal;
  font-size: 25px;
  text-transform: uppercase;
  color: var(--dark);
  letter-spacing: 5px;
}
h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    color: var(--dark);
}
p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-align: justify;
    color: var(--dark);
}

@media only screen and (max-width: 1280px){
  h2 {
      font-size: 52px;
  }
  h3, h4 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }

}
@media only screen and (max-width: 520px){
  h2 {
    font-size: 40px;
  }
  h3{
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  
}
